.eventPreview {
  margin-top: 20px;
  margin-bottom: 80px;
  width: 270px;
  margin-right: 25px;

  div {
    margin-bottom: 25px;
  }

  .title {
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 5px;
  }

    &:hover > .title::after {
      content: '⟶ ';
      position: relative;
      left: 15px;
      bottom: 2px;
      font-size: 14px;
      color: #666;
    }

  .date {
    border-bottom: 1px solid #333;
  }

  .description {
    text-align: left;
    line-height: 1.5em;
  }
}
