$break-large: 2500px;
$break-medium: 1500px;
$break-mobile: 1000px;

.videoPage {
  .headerGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 51.5px;

    .title {
      grid-column: 1/3 span;
    }
  }

  .pageContent {
    .title {
      margin: 0;
      grid-column: 2/3 span;
    }

    .date {
      border-bottom: 1px solid #333;
    }

    .videoEmbed {
      grid-column: 2/3 span;
    }

    .screeningMenu {
      ol {
        padding: 0;
      }
    }

    .info {
      grid-column: 2/2 span;
    }
  }
}
