$break-large: 2500px;
$break-medium: 1500px;
$break-mobile: 1000px;

.yearPreview {
  @media print {
    page-break-after: always;
  }

  min-width: 1200px;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 200px;

  @media screen and (min-width: $break-large) {
    width: 1770px;
  }
  @media screen and (max-width: $break-medium) {
    width: 885px;
    min-width: initial;
  }
  @media screen and (max-width: $break-mobile) {
    width: 300px;
    min-width: initial;
  }

  .title {
    cursor: pointer;
    user-select: none;
  }
    & > .title:hover::after {
      content: '↕';
      display: block;
      margin: 0 auto;
      font-size: 40px;
      text-align: center;
      position: absolute;
      bottom: -105px;
      left: 47%;
    }

  @media screen and (min-width: $break-large) {
    & > .title {
      // font-size: 8.25em; // Playfair
      font-size: 8.15em; // Julius Sans One
    }
  }
  @media screen and (max-width: $break-medium) {
    & > .title {
      // font-size: 4.1em; // Playfair
      font-size: 4em; // Julius Sans One
    }
  }
  @media screen and (max-width: $break-mobile) {
    & > .title {
      // font-size: 1.5em;
      font-size: 1.7em; // Julius Sans One
    }
  }


  .events {
    display: grid;
    grid-template-columns: 295px 295px 295px 295px ;
    @media screen and (min-width: $break-large) {
      grid-template-columns: 295px 295px 295px 295px 295px 295px;
    }
    @media screen and (max-width: $break-medium) {
      grid-template-columns: 295px 295px 295px;
    }
    @media screen and (max-width: $break-mobile) {
      grid-template-columns: 295px;
    }
  }

  &.past {
    opacity: 0.2;
  }
  &.past:hover {
    opacity: 0.5;
  }

  .information {
    margin-bottom: 100px;
    line-height: 2em;
    text-align: justify;
    &.hidden {
      margin-bottom: 0px;
      height: 0;
      overflow: hidden;
    }


  }
}
