.yearPreview {
  @media print {
    page-break-after: always;
  }

  min-width: 1200px;
  width: 1200px;
  margin: 0 auto;

  .events {
    display: grid;
    grid-template-columns: 295px 295px 295px 295px ;
  }

  &.past {
    opacity: 0.2;
  }
}
