$break-mobile: 1000px;

.eventPage {
  min-width: 1200px;
  width: 1200px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 200px;
  min-height: 100vh;

  @media screen and (max-width: $break-mobile) {
    max-width: 100%;
    min-width: initial;
    width: initial;
    margin: 20px;
  }


  h1 {
    margin-bottom: 100px;

    @media screen and (max-width: $break-mobile) {
      & {
        font-size: 1.5em;
      }
    }
  }

  .festivalTitle {
    position: relative;
    margin: 0;
    color: #333;
  }

    a.festivalTitle {
      border-bottom: 1px dotted transparent;
    }

    a.festivalTitle:hover {
      border-bottom: 1px dotted #333;
    }

    .festivalTitle:hover::before {
      content: '⟵ ';
      position: absolute;
      left: -42px;
      bottom: 12px;
      // color: #666;
      font-size: 14px;
    }

  h2 {
    margin-bottom: 100px;
    margin-top: 0;
    position: relative;
    font-size: 2rem;

    .date, .venue, .price, a {
      display: inline-block;
      color: #666;
    }

    .venue:hover::after {
      content: '⟶ ';
      position: relative;
      left: 15px;
      bottom: 4px;
      font-size: 14px;
      color: #666;
    }

    .price {
      display: block;
    }

    @media screen and (max-width: $break-mobile) {
      & {
        font-size: 1em;
      }
    }

  }

  a {
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px dotted #666;
    }
  }

  .description {
    width: 50%;
    line-height: 2em;
    text-align: justify;

    @media screen and (max-width: $break-mobile) {
      width: 100%;
    }
  }

  .mapouter{
    position:relative;
    text-align:right;
    height:295px;
    width:295px;
    margin-top: 100px;
  }
  .gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:295px;
    width:295px;
  }
}
