@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Ultra|Lusitana);
@import url(https://fonts.googleapis.com/css?family=Quicksand);

.App {
  font-family: "Playfair Display", serif;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
